.card {
  width: 100%;
  font-size: 12px;
  .card_header {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    // background-color: #f0f0f0;
    border-bottom: 1px solid #e9e9e9;
  }
  .card_content {
    padding: 10px;
    border-bottom: 1px solid #e9e9e9;
    min-height: 100px;
  }
}
