@import "base/normalize.less";
@import "base/variable.less";

#app {
  width: 100%;
  height: 100%;
}

.mint-cell-wrapper {
  font-size: 12px !important;
}

.container {
  margin-top: 3rem;
  padding-bottom: 40px;
}

.detail {
  width: 100%;

  .content {
    padding: 0 10px;
    font-size: 12px;
    margin-top: 1rem;
    line-height: 2em;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }

    code {
      width: 100%;
    }
  }
}

.user {
  font-size: 12px;

  .top {
    width: auto;
    height: 40px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 4px;
    }

    .name {
      position: absolute;
      left: 50px;
    }

    .time {
      position: absolute;
      left: 200px;
    }

    a {
      display: flex;
      justify-content: center;

      svg {
        width: 20px;
      }
    }
  }
}

.login {
  .button {
    margin-top: 3rem;
    padding: 0 10px;
  }
}

.footer {
  height: 40px;
  display: flex;
  align-items: center;
}

.post {
  .mint-field {
    margin-top: -1px;
  }
  .richeditor {
    .wysiwyg-container {
      border: none;
      height: 15rem;
    }
  }
  button {
    width: 90%;
    margin: auto;
  }
}
